{% extends 'base.html.twig' %}


{% block items %}
    <div id="printButton" class="plus_button"><span class="glyphicon glyphicon-print"></span></div>
    {% for wareneingang in wareneingangen %}
        <div onclick="locationTo('{{ url('WareneingangList', {get:wareneingang.id}) }}')">
            <div class="item {% if get_var == wareneingang.id %}selected{% endif %}">
                <span>{{ wareneingang.zutat.name }}, {{ wareneingang.DateAdded|date('Y-m-d H:i:s') }}</span>

                {% if user_role >= 10 %}
                <form id="wareneingang_{{ wareneingang.id }}_delete_form" action="{{ url('WareneingangDelete', {id:wareneingang.id}) }}"
                      method="post">
                    <button type="submit">Delete</button>
                </form>

                <form id="wareneingang_{{ wareneingang.id }}_archive_form" action="{{ url('WareneingangAchive', {id:wareneingang.id}) }}"
                      method="post">
                    <button type="submit">Archive</button>
                </form>
                {% endif %}
                <div id="editContainer_{{ wareneingang.id }}" style="color: red"></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block more_info %}

    <script>

        async function print(){

            await Swal.fire({
                title             : 'Zeitraum Angeben!',
                type              : 'info',
                html             :
                        ` <div id="dates-wareneingang">
                                Bitte wählen Sie den Zeitraum,
                                <br/>über den gedruckt werden soll:<br/><br/>
                                <input type="text" name="daterange"  id="daterange"/>
                         </div>`,
                showCloseButton   : true,
                showCancelButton  : true,
                focusConfirm      : false,
                confirmButtonText : 'Print',
                cancelButtonText  : "Abbrechen",
                onOpen: function() {
                    $('#daterange').daterangepicker({
                        startDate: moment().subtract(1, 'month'),
                        endDate: moment(),
                        locale: {
                            format: 'DD.MM.YYYY'
                        },
                        opens: 'left'
                    }, function (start, end, label) {
                    });
                },
                preConfirm: () => {
                   let dateRange = $('#daterange').val();
                   let [dateStart, dateStop] = dateRange.split(' - ');

                   window.open('{{ url('WareneingangPrint') }}'+`?dateStart=${dateStart}&dateStop=${dateStop}`)
                },

            });
            //$('#dates-wareneingang')
        }


        function locationTo(url){
            window.location = url

        }

        function checkEditAccess () {
            let entityIds = [
                {% for eintity in wareneingangen %} {{ eintity.id }}, {% endfor %}
            ]
            console.log(entityIds);

            $.ajax({
                        url     : "{{ url('WareneingangEditCheck') }}",
                        data    : {ids : JSON.stringify(entityIds)},
                        success : (response) => {
                            for (let id in response) {
                                if( response[id]){
                                    $(`#editContainer_${id}`).html("");
                                    {% if(currentWareneingang) %}
                                    if(id == {{ currentWareneingang.id }}){
                                        $("#editLink").show();
                                    }
                                    {% endif %}
                                }else{
                                    {% if(currentWareneingang) %}
                                    if(id ==  {{ currentWareneingang.id }}){
                                        $("#editLink").hide();
                                    }
                                    {% endif %}
                                    $(`#editContainer_${id}`).html("Bearbeitbar");
                                }
                            }

                        }
                    }
            );
        }

       document.addEventListener("DOMContentLoaded", function() {
            checkEditAccess();
            setInterval(()=>{
                checkEditAccess();
            }, 30000);
           $('.deleteButton').click((event)=>{
               event.stopPropagation();
           })


           $('#printButton').click(print);
        });
    </script>
    {% if(currentWareneingang) %}
    {% for title,value in currentWareneingang.FieldListWithTitles %}
        <ul>
            <li>
                {{ title }} -> {{ value }}
            </li>
        </ul>
    {% endfor %}
    {% if ((currentWareneingang.FieldListWithTitles['Angelegt von'] == user) or (user_role >= 10)) %}
    <a id="editLink" href="/admin/edit/Wareneingang?id={{ currentWareneingang.id }}">
        <div class="edit_button"><span class="glyphicon glyphicon-edit"></span></div>
    </a>
    {% endif %}
    {% endif %}
{% endblock %}


