{% extends 'base.html.twig' %}

{% block more_info %}
    <style>

        .m-signature-pad--body canvas {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: 250px;
            border: 1px solid #CCCCCC;
        }

    </style>
    <style>
        .inner_content{
            display: block;
            justify-content: center;
            padding-top: 20px;
        }
        #zutat_form_container{
            width: 90%;

        }

    </style>
    <div class="inner_content">
        <div id="zutat_form_container">
            {{ form(form) }}
        </div>
        <br />
        <div id="signature-pad" class="m-signature-pad">
            <div class="m-signature-pad--body">
                <canvas></canvas>
                <input type="hidden" name="signature" id="signature" value="">
            </div>
        </div>
        <button type="button" class="w3-btn w3-black" onclick="signaturePad.clear();">Löschen</button>
        <button onclick="button_save_click()">Save</button>
    </div>
    <script>
        function updateEditAccess () {
            $.ajax({
                url     : "{{ url('UserEditUpdate') }}",
                data    : {id : {{ id }},}
                });
        }

        document.addEventListener("DOMContentLoaded", function() {
            updateEditAccess();
            setInterval(()=>{
                updateEditAccess();
            }, 10000);
        });
    </script>
{% endblock %}

{% block additional_javascripts %}



    <script>
        $(document).ready(function() {

            $('.select2').select2({
            });

            $('.allowEmptySelect2').select2({
                allowClear: true,
            });
        });

    </script>
    <script>



        var wrapper = document.getElementById("signature-pad"),
            canvas = wrapper.querySelector("canvas"),
            signaturePad;

        var signaturePad = new SignaturePad(canvas);
        signaturePad.minWidth = 1; //minimale Breite des Stiftes
        signaturePad.maxWidth = 5; //maximale Breite des Stiftes
        signaturePad.penColor = "#000000"; //Stiftfarbe
        signaturePad.backgroundColor = "#ffffff"; //Hintergrundfarbe

        function resizeCanvas() {
            var oldContent = signaturePad.toData();
            var ratio = Math.max(window.devicePixelRatio || 1, 1);
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas.getContext("2d").scale(ratio, ratio);
            signaturePad.clear();
            signaturePad.fromData(oldContent);
        }
        window.onresize = resizeCanvas;
        resizeCanvas();

        function button_save_click(){
            document.getElementById('user_form_Signature').value = signaturePad.toDataURL();
            document.getElementsByName("user_form")[0].submit();
        }
        </script>
{% endblock %}