{% extends 'base.html.twig' %}


{% block items %}
    {% for user in users %}
        <div onclick="locationTo('{{ url('UserList', {get:user.id}) }}')">
            <div class="item {% if get_var == user.id %}selected{% endif %}">
                <span>{{ user.displayname }}</span>

                {% if users|length == 1 and (
                    currentUser.createdwarengruppe|length >0
                    or currentUser.Lieferant|length >0
                    or  currentUser.warenannahme|length >0
                    or  currentUser.zutats|length >0
                    ) %}
                    <span>Kann nicht gelöscht werden. Nichts zu ersetzen.</span>
                {% else %}
                    {% if user_role >= 10 %}
                    <button   class="deleteButton" onclick="deleteAction({{ user.id }})">Delete</button>
                    <form id="user_{{ user.id }}_delete_form" action="{{ url('UserDelete', {id:user.id}) }}"
                          method="post">
                        <input type="hidden" name="newElement" id="newElement{{ user.id }}"/>
                    </form>
                        {% endif %}
                {% endif %}
                {% if user_role >= 10 %}
                <form id="user_{{ user.id }}_delete_form" action="{{ url('UserArchive', {id:user.id}) }}" method="post">
                    <button type="submit">Archive</button>
                </form>
                {% endif %}
                <div id="editContainer_{{ user.id }}" style="color: red"></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}


{% block delete_alert %}

    <script>
        function locationTo(url){
            window.location = url
        }
        async function deleteAction (id) {

            let users = {
            {% for user in users %}
            {{ user.id }} : '{{ user.displayname }}',
            {% endfor %}
        }
            delete users[id];

            if({{users|length}} === 1){
                $(`#user_${id}_delete_form`).submit();
                return;
            }
            const deleteObject = await Swal.fire({
                title             : 'Zeitraum Angeben!',
                type              : 'error',
                input             : 'select',
                inputOptions      : users,
                showCloseButton   : true,
                showCancelButton  : true,
                focusConfirm      : false,
                confirmButtonText : 'Löschen',
                cancelButtonText  : "Abbrechen",

            });


            if (deleteObject.value) {
                $(`#newElement${id}`).val(deleteObject.value);
                $(`#user_${id}_delete_form`).submit();
            }
        }


    </script>
{% endblock %}

{% block more_info %}
    <script>
        function checkEditAccess () {
            let entityIds = [
                {% for eintity in users %} {{ eintity.id }}, {% endfor %}
            ]
            console.log(entityIds);

            $.ajax({
                        url     : "{{ url('UserEditCheck') }}",
                        data    : {ids : JSON.stringify(entityIds)},
                        success : (response) => {
                            for (let id in response) {
                                if( response[id]){
                                    $(`#editContainer_${id}`).html("");
                                    {% if(currentUser) %}
                                    if(id == {{ currentUser.id }}){
                                        $("#editLink").show();
                                    }
                                    {% endif %}
                                }else{
                                    {% if(currentUser) %}
                                    if(id ==  {{ currentUser.id }}){
                                        $("#editLink").hide();
                                    }
                                    {% endif %}
                                    $(`#editContainer_${id}`).html("Bearbeitbar");
                                }
                            }

                        }
                    }
            );
        }

       document.addEventListener("DOMContentLoaded", function() {
            checkEditAccess();
            setInterval(()=>{
                checkEditAccess();
            }, 30000);
           $('.deleteButton').click((event)=>{
               event.stopPropagation();
           })
        });
    </script>

    {% if(currentUser) %}
    {% for title,value in currentUser.FieldListWithTitles %}
        <ul>
            <li>
                {{ title }} -> {{ value }}
            </li>
        </ul>
    {% endfor %}
    <img src="{{currentUser.signature}}" style="width: 100%">
    {% if ((user_role >= 10)) %}
    <a id="editLink" href="/admin/edit/User?id={{ currentUser.id }}">
        <div class="edit_button"><span class="glyphicon glyphicon-edit"></span></div>
    </a>
        {% endif %}
    {% endif %}
{% endblock %}