{% extends 'base.html.twig' %}

{% block more_info %}
<style>

.m-signature-pad--body canvas {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 250px;
        border: 1px solid #CCCCCC;
    }
    .inner_content{
        left: 5%;
position: relative;
width: 90%;
    }

    label{
        font-size: 3vh;
    }
    .select2-container{
        top: -0.6vh;
        width: 40vw !important;
    }
    </style>
    <style>
    .table-editable {
  position: relative;
}
.table-editable .glyphicon {
  font-size: 20px;
}
.table-remove {
  color: #700;
  cursor: pointer;
}
.table-remove:hover {
  color: #f00;
}
.table-up, .table-down {
  color: #007;
  cursor: pointer;
}
.table-up:hover, .table-down:hover {
  color: #00f;
}
.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}
.table-add:hover {
  color: #0b0;
}

    </style>
<div class="inner_content">
 {% if item == "Rezeptur" %}

         <div id="table" class="table-editable">
    <span class="table-add glyphicon glyphicon-plus"></span>
        <table class="table">
      <tr>
        <th>Zutaten</th>
        <th>Menge</th>
        <th>Lieferant</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td contenteditable="true">Bitte Auswählen</td>
        <td contenteditable="true">Bitte Eintragen</td>
        <td contenteditable="true">Bitte Auswählen</td>
        <td>
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
        <td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>
      <!-- This is our clonable table line -->
      <tr class="hide">
        <td contenteditable="true">Bitte Auswählen</td>
        <td contenteditable="true">Bitte Eintragen</td>
        <td contenteditable="true">Bitte Auswählen</td>
        <td>
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
        <td>
          <span class="table-up glyphicon glyphicon-arrow-up"></span>
          <span class="table-down glyphicon glyphicon-arrow-down"></span>
        </td>
      </tr>
    </table>
    </div>
    {% endif %}
 {{ form(form) }}
 
 {% if item == "User" %}
           <div id="signature-pad" class="m-signature-pad">
    <div class="m-signature-pad--body">
        <canvas></canvas>
        <input type="hidden" name="signature" id="signature" value="">
    </div>
</div>
 <button type="button" class="w3-btn w3-black" onclick="signaturePad.clear();">Löschen</button>

<button onclick="button_save_click()">Save</button>
{% endif %}
 </div>
{% endblock %}

{% block additional_body %}
 {% if saved %}
            <script>
            window.location = "/panel/{{ name }}";
            </script>
            <p style="font-size: 100px; background-color: green; color: white;">saved</p>
    {% endif %}
    
    



{% endblock %}
{% block additional_javascripts %}

<script>
var $TABLE = $('#table');
var $BTN = $('#export-btn');
var $EXPORT = $('#export');

$('.table-add').click(function () {
  var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
  $TABLE.find('table').append($clone);
});

$('.table-remove').click(function () {
  $(this).parents('tr').detach();
});

$('.table-up').click(function () {
  var $row = $(this).parents('tr');
  if ($row.index() === 1) return; // Don't go above the header
  $row.prev().before($row.get(0));
});

$('.table-down').click(function () {
  var $row = $(this).parents('tr');
  $row.next().after($row.get(0));
});

// A few jQuery helpers for exporting only
jQuery.fn.pop = [].pop;
jQuery.fn.shift = [].shift;

$BTN.click(function () {
  var $rows = $TABLE.find('tr:not(:hidden)');
  var headers = [];
  var data = [];
  
  // Get the headers (add special header logic here)
  $($rows.shift()).find('th:not(:empty)').each(function () {
    headers.push($(this).text().toLowerCase());
  });
  
  // Turn all existing rows into a loopable array
  $rows.each(function () {
    var $td = $(this).find('td');
    var h = {};
    
    // Use the headers from earlier to name our hash keys
    headers.forEach(function (header, i) {
      h[header] = $td.eq(i).text();   
    });
    
    data.push(h);
  });
  
  // Output the result
  $EXPORT.text(JSON.stringify(data));
});
</script>
<script>
{% if user_role <= 0 %}
  $("#wareneingang_form_Inventur").prop("disabled", true);
  $("#wareneingang_form_Inventur").css("display", "none");
  $("label[for='wareneingang_form_Inventur']").css("display", "none");
    {% endif %}
    
    $('#wareneingang_form_Inventur').change(function() {
       
        if(this.checked){
          $("#wareneingang_form_Charge").prop("disabled", true);
          $("#wareneingang_form_Qualitaetscheck").prop("checked", true);
          $("#wareneingang_form_Identitatsprufung").prop("checked", true);
          $("#wareneingang_form_Lieferschein").prop("disabled", true);
          $("#wareneingang_form_LieferInt").prop("disabled", true);
        }else{
          $("#wareneingang_form_Charge").prop("disabled", false);
          $("#wareneingang_form_Qualitaetscheck").prop("checked", true);
          $("#wareneingang_form_Identitatsprufung").prop("checked", true);
          $("#wareneingang_form_Lieferschein").prop("disabled", false);
          $("#wareneingang_form_LieferInt").prop("disabled", false);
        }
    });


if("{{ name }}" == "Wareneingang"){
    let zutat_lieferant = {
            {% for zutat in zutaten %}
            '{{zutat.Name}}': [{% for liefer in zutat.Lieferant %}'{{liefer.Alias}}', {% endfor %}],
            {% endfor %}
        };


    $("#wareneingang_form_ZutatInt").change(function (){
    var lieferanten = $("#wareneingang_form_LieferInt").children("option");
    lieferanten.each(function(index){
        
        var selector = $("#wareneingang_form_ZutatInt").children("option:selected").text();
        if(zutat_lieferant[selector].includes(lieferanten[index].text)){
            $(lieferanten[index]).prop("disabled", false);
        }else{
            $(lieferanten[index]).prop("disabled", true);
        }
        
    });

    if($("#wareneingang_form_LieferInt").children("option:selected").prop("disabled") == true){
            $("#wareneingang_form_LieferInt").children("option:selected").attr("selected", false);
        }
    });
}
 function close_entity(link){
            window.location = "/admin/set_unset?id={{ object_id }}&item={{ name }}&link=" + link;
 }
$(document).ready(function() {
    if(("{{ name }}") == ("Wareneingang")){
    $("#wareneingang_form_LieferInt").change(setLieferant);
    }
    $('.select2').select2();
});

var wrapper = document.getElementById("signature-pad"),
    canvas = wrapper.querySelector("canvas"),
    signaturePad;

var signaturePad = new SignaturePad(canvas);
signaturePad.minWidth = 1; //minimale Breite des Stiftes
signaturePad.maxWidth = 5; //maximale Breite des Stiftes
signaturePad.penColor = "#000000"; //Stiftfarbe
signaturePad.backgroundColor = "#FFFFFF"; //Hintergrundfarbe

function resizeCanvas() {
    var oldContent = signaturePad.toData();
    var ratio = Math.max(window.devicePixelRatio || 1, 1);
    canvas.width = canvas.offsetWidth * ratio;
    canvas.height = canvas.offsetHeight * ratio;
    canvas.getContext("2d").scale(ratio, ratio);
    signaturePad.clear();
    signaturePad.fromData(oldContent);
}
window.onresize = resizeCanvas;
resizeCanvas();

function submitForm() {
    //Unterschrift in verstecktes Feld übernehmen
    
}
function button_save_click(){
document.getElementById('user_form_Signature').value = signaturePad.toDataURL();
document.getElementsByName("user_form")[0].submit();
}

</script>
{% endblock %}