<!DOCTYPE html>
<html>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="{{ asset('signature_pad.js') }}"></script>


        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}


<script>
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
<style>
body{
    background: #f1f1f1;
color: #444;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.sidebarback{
    width: 160px;
background-color: #23282d;

position: fixed;
top: 0;
bottom: -120px;
z-index: 1;
left: 0;
}
.sidebar{
    
    position: fixed;
    position: relative;
float: left;
z-index: 9990;
width: 160px;

}
.sidebar ul{
    clear: left;
margin: 12px 0;
padding: 0;
list-style: none;
width: 160px;

}
.sidebar ul li{
    border: none;
min-height: 34px;
position: relative;
margin: 0;
padding: 0;
cursor: pointer;
}
.sidebar ul li a{
    color: #eee;
    font-size: 14px;
font-weight: 400;
line-height: 18px;
padding: 0;
text-decoration: none;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.body_content{
    padding-bottom: 65px;
float: left;
width: 88%;
overflow: visible!important;
height: 100%;
padding-left: 20px;
margin-left: 160px;
position: absolute;
}
.body_content .table{
    margin: 10px 20px 0 2px;
}
.table h1{
    display: inline-block;
margin-right: 5px;
}

table{

    table-layout: fixed;
    background: #fff;
    border: 1px solid #e5e5e5;
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-spacing: 0;
width: 100%;
clear: both;
margin: 0;
display: table;
border-collapse: separate;
}
thead{
    word-wrap: break-word;
}
th{
    padding: 0;
    color: #32373c;
    cursor: pointer;
}
tbody tr{
    background-color: #f9f9f9;
}
tbody tr td{
    color: #555;
    font-size: 13px;
line-height: 1.5em;
vertical-align: top;
padding: 8px 10px;
word-wrap: break-word;
}
.add_button, button{
    margin-left: 0;
    padding: 4px 8px;
position: relative;
top: -3px;
text-decoration: none;

border: 1px solid #ccc;
border-radius: 2px;
background: #f7f7f7;
text-shadow: none;
font-weight: 600;
font-size: 13px;
line-height: normal;
color: #0073aa;
cursor: pointer;
outline: 0;
}
.add_button:hover{
    color: #f7f7f7;
    background: #0073aa;
}
form{
    left: 10vw;
position: relative;

}
.select2-selection.select2-selection--multiple{
    width: 50vw;
}
.untermenu{
    margin-left: 40;
}
 .m-signature-pad--body canvas {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 250px;
        border: 1px solid #CCCCCC;
    }
    .inner_content{
        width: calc(100vw - 200px);

position: absolute;
left: 180px;
    }
</style>
    </head>
    <body>
        {% block body %}
        <script>
         setTimeout(function () {
       window.location.href = "/panel/{{ item }}"; //will redirect to your blog page (an ex: blog.html)
    }, 300000);
    </script>
        <div class="sidebarback"></div>
<div class="sidebar">
    <ul>
        <li><a onclick="close_entity('/panel/Lieferant')">Lieferanten</a></li>
         <li><a onclick="close_entity('/panel/Zutat')">Zutaten</a></li>
          <li><a onclick="close_entity('/panel/Wareneingang')">Wareneingang</a></li>
         <!--<li><a href="/panel/Rezeptur">Rezepturen</a></li>
         <li><a href="/panel/Produkt">Produkt</a></li>
         <li><a href="/panel/Ansatz">Ansatz</a></li>
         <li><a href="/panel/Abfullung">Abfüllung</a></li>-->
         {% if user_role == 1  %}
         <li>Einstellungen</li>
          <div class="untermenu">
         <li><a onclick="close_entity('/panel/Warengruppe')">Warengruppen</a></li>
         <li><a onclick="close_entity('/panel/Einheit')">Einheiten</a></li>
         <li><a onclick="close_entity('/panel/User')">Benutzer</a></li>
     
         <li><a href="/panel/System">System</a></li></div>
         {% endif %}
         <li style="bottom: 5vh;position: fixed; color: white;">Hallo {{ user }}<br /><a href="/logout">Logout</a></li>
    </ul>
    <script>
        function close_entity(link){
                window.location = "/admin/set_unset?id={{ object_id }}&item={{ item }}&link=" + link;
        }
      
    </script>
</div>
 <div class="inner_content">
        <h1>{{ item }} Hinzufügen</h1><br />
       
 
        {% if saved %}
            <script>
            window.location = "/panel/{{ item }}";
            </script>
            <p style="font-size: 100px; background-color: green; color: white;">saved</p>
        {% endif %}
    <script>
 
   
      $(document).ready(function() {
    $("#wareneingang_form_LieferInt").change(setLieferant);

$('.select2').select2();




});

function setLieferant(){
var lieferant = $("#wareneingang_form_LieferInt option:selected").text();
var zutats = $("#wareneingang_form_ZutatInt option");
zutats.each(function(zutat) {
  
});
}
    </script>
        {% if item ==  'Rezeptur' %}
        Zutaten:
        <style>
            .input_table{
                clear: unset;
                width: unset;
                margin-bottom: 2%;
            }
        </style>
       
        <table border="1" class="input_table">
        <tbody id="tbodyy">
                <tr><th>Zutat</th><th>Menge auf 100 Ltr.</th><th>bevorzugte Lieferanten</th></tr>
                <tr><td>
                 <select name="z0001" id="z0001">
                    {% for zutat in zutaten %}
                    <option value="{{ zutat.Id|e }}">{{ zutat.Name|e }}</option>
                    {% endfor %}
                </select>
               
                </td><td><input type="text" name="m0001" id="m0001" placeholder="50"></input></td><td><select name="l0001" id="l0001">
                    {% for lieferant in lieferanten %}
                    <option value="{{ lieferant.Id|e }}">{{ lieferant.Firmenname|e }}</option>
                    {% endfor %}
                </select></td></tr>
            </tbody>
            </table>
            <button onclick="button_plus_click()">+</button>
             <button onclick="button_save_click()">Save</button>
         <script>
         var rowcount = 1;
   
          window.onload = function () {
        
    }
            
           
            function button_plus_click(){
                var specific_tbody = document.getElementById("tbodyy");
                //specific_tbody.rows.length
                var new_row = specific_tbody.insertRow(-1);
                var new_cell = new_row.insertCell(-1);
                var new_element = document.createElement('select');
                new_element.name = "z" + zfill(specific_tbody.rows.length-1, 4);
                new_element.id = "z" + zfill(specific_tbody.rows.length-1, 4);
                var option;
                {% for zutat in zutaten %}
                    option = document.createElement("option");
                    option.text = "{{ zutat.Name|e }}";
                    option.value = "{{ zutat.Id|e }}";
                    new_element.add(option);
                {% endfor %}
                new_cell.appendChild(new_element);
                var new_cell_two = new_row.insertCell(-1);
                new_element = document.createElement('input');
                new_element.type = "text";
                new_element.name = "m" + zfill(specific_tbody.rows.length-1, 4);
                new_element.id = "m" + zfill(specific_tbody.rows.length-1, 4);
                new_element.placeholder = "50";
                new_cell_two.appendChild(new_element);
                var new_cell_tree = new_row.insertCell(-1);
                new_element = document.createElement('select');
                new_element.name = "l" + zfill(specific_tbody.rows.length-1, 4);
                new_element.id = "l" + zfill(specific_tbody.rows.length-1, 4);
                var option;
                {% for lieferant in lieferanten %}
                    option = document.createElement("option");
                    option.text = "{{ lieferant.Firmenname|e }}";
                    option.value = "{{ lieferant.Id|e }}";
                    new_element.add(option);
                {% endfor %}
                
                new_cell_tree.appendChild(new_element);
            }
            function button_save_click(){
                //alert("save");
                var rows = document.getElementById("tbodyy").rows.length;
                var hidden_field = document.getElementById("rezeptur_form_ZutatString");
                hidden_field.value = "";
                //alert("se");
                for(var i = 1; i<rows; i++){
                    var zutat = document.getElementById("z" + zfill(i, 4)).value;
                    var menge = document.getElementById("m" + zfill(i, 4)).value;
                    var lieferant = document.getElementById("l" + zfill(i, 4)).value;
                    hidden_field.value = hidden_field.value + "[" + zutat + "," + menge + "," + lieferant + "]";
                    
                }
                document.getElementsByName("rezeptur_form")[0].submit();
            }
            function zfill(num, len) {return (Array(len).join("0") + num).slice(-len);}
            //warengruppe_form_save
        </script>
      
         {% endif %}
         {% if item == "User" %}
           <div id="signature-pad" class="m-signature-pad">
    <div class="m-signature-pad--body">
        <canvas></canvas>
        <input type="hidden" name="signature" id="signature" value="">
    </div>
</div>
 <button type="button" class="w3-btn w3-black" onclick="signaturePad.clear();">Löschen</button>
<script>
var wrapper = document.getElementById("signature-pad"),
    canvas = wrapper.querySelector("canvas"),
    signaturePad;

var signaturePad = new SignaturePad(canvas);
signaturePad.minWidth = 1; //minimale Breite des Stiftes
signaturePad.maxWidth = 5; //maximale Breite des Stiftes
signaturePad.penColor = "#000000"; //Stiftfarbe
signaturePad.backgroundColor = "#FFFFFF"; //Hintergrundfarbe

function resizeCanvas() {
    var oldContent = signaturePad.toData();
    var ratio = Math.max(window.devicePixelRatio || 1, 1);
    canvas.width = canvas.offsetWidth * ratio;
    canvas.height = canvas.offsetHeight * ratio;
    canvas.getContext("2d").scale(ratio, ratio);
    signaturePad.clear();
    signaturePad.fromData(oldContent);
}
window.onresize = resizeCanvas;
resizeCanvas();

function submitForm() {
    //Unterschrift in verstecktes Feld übernehmen
    
}
function button_save_click(){
document.getElementById('user_form_Signature').value = signaturePad.toDataURL();
document.getElementsByName("user_form")[0].submit();
}
</script>
<button onclick="button_save_click()">Save</button>
{% endif %}


        {{ form(form) }}
       </div>
        {% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
