<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    
        {% block body %}<h1>Admin Panel</h1>
        <h2>Links:</h2>
        <a href="/admin/panel">Admin Panel</a> - <a href="/admin/add/Lieferant">Lieferant Hinzufügen</a>
         - <a href="/admin/add/Warengruppe">Warengruppe Hinzufügen</a> - <a href="/admin/add/Zutat">Zutat Hinzufügen</a>
          - <a href="/admin/add/Wareneingang">Wareneingang Hinzufügen</a> - <a href="/admin/add/Rezeptur">Rezeptur Hinzufügen</a>
        <h3>Es gibt folgende Benutzer:</h3>
        <ul>
       {% for user in users %}
        <li>{{ user.username|e }}</li>
    {% endfor %}
    </ul>
    <h3>Es gibt folgende Lieferanten:</h3>
        <table border="1">
        <tr><td>Firmenname</td><td>Alias</td><td>Adresse</td><td>Phone</td></tr>
       {% for lieferant in lieferanten %}
        <tr>
            <td>{{ lieferant.Firmenname|e }}</td>
            <td>{{ lieferant.Alias|e }}</td>
            <td>{{ lieferant.Adresse|e }}</td>
            <td>{{ lieferant.Phone|e }}</td>
        </tr>
    {% endfor %}
    </table>
     <h3>Es gibt folgende Zutaten:</h3>
        <table border="1">
        <tr><td>Einheit</td><td>Name</td><td>Menge auf Lager</td><td>Notiz</td><td>Warengruppe</td><td>Lieferant</td></tr>
       {% for zutat in zutaten %}
        <tr>
            <td>{{ zutat.Einheit|e }}</td>
            <td>{{ zutat.Name|e }}</td>
            <td>{{ zutat.Menge|e }}</td>
            <td>{{ zutat.Notiz|e }}</td>
            <td>
                {% for gruppe in zutat.Gruppe %}
                    {{ gruppe.Name|e }}, 
                {% endfor %}
            </td>
            <td>
                {% for lieferant in zutat.Lieferant %}
                    {{ lieferant.Alias|e }}, 
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
     <h3>Es gibt folgende Warengruppen:</h3>
        <table border="1">
        <tr><td>Name</td><td>Übergruppe</td></tr>
       {% for gruppe in gruppen %}
        <tr>
            <td>{{ gruppe.Name|e }}</td>
            <td>
                {% for gruppe in gruppe.Uebergruppe %}
                        {{ gruppe.Name|e }}, 
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>

     <h3>Es gibt folgende Wareneingänge:</h3>
        <table border="1">
        <tr><td>Produkt</td><td>Charge</td><td>Qualitätscheck</td><td>Menge</td><td>Lieferant</td></tr>
       {% for wareneingange in wareneingang %}
        <tr>
            <td>{{ wareneingange.Zutat.Name|e }}</td>
            <td>{{ wareneingange.Charge|e }}</td>
            <td>{{ wareneingange.Qualitaetscheck|e }}</td>
            <td>{{ wareneingange.Menge|e }}</td>
            <td>{{ wareneingange.Lieferant.Alias|e }}</td>
        </tr>
    {% endfor %}
    </table>

      

        {% endblock %}
       
        {% block javascripts %}{% endblock %}
    </body>
</html>
