<html>
<head>
    <script src="https://kit.fontawesome.com/b1898bfb93.js"></script>
    <meta charset="UTF-8">
    <title>{% block title %}Paehler{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main_theme.css') }}"></link>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    {% endblock %}
    <style>
        .print {
            cursor: pointer;
        }
    </style>

</head>
<body>

{% block body %}
    <!-- href="/createpdf/{{ intern_name }}"-->
    <div class="headline"><span class="user_display">Hallo {{ user }} - <a href="/logout">Logout</a></span><span
                class="object_title">Paehler Soft</span>{% if pdf == 1 %}<span class="glyphicon glyphicon-print print"
                                                                               id="click-me-btn"></span>{% endif %}
    </div>



    <div class="pathline"><a href="/panel"><span class="blue">Dashboard</span></a> > {{ name }}</div>

    <div class="menu_col">
        {% if user_role >= 1 %}
        <a href="/panel/Lieferant"><i
                    class="fas fa-industry {% if intern_name is same as ("Lieferant") %}selected{% endif %}"></i> </a>
        <a href="/panel/Zutat"><i class="fas fa-flask {% if intern_name is same as ("Zutat") %}selected{% endif %}"></i></a>
        {% endif %}
        <a href="/panel/Wareneingang"><i
                    class="fas fa-dolly {% if intern_name is same as ("Wareneingang") %}selected{% endif %}"></i></a>
        {% if user_role >= 10 %}
            <a href="/panel/Einheit"><i
                        class="fas fa-ruler {% if intern_name is same as ("Einheit") %}selected{% endif %}"></i></a>
            <a href="/panel/Warengruppe"><i
                        class="fas fa-sitemap {% if intern_name is same as ("Warengruppe") %}selected{% endif %}"></i></a>
            <a href="/panel/User"><i
                        class="fas fa-user {% if intern_name is same as ("User") %}selected{% endif %}"></i></a>
        {% endif %}
    </div>


    <div class="item_col">
        <iframe id="file_downloader" style="display:none;"></iframe>

        <a href="/admin/add/{{ intern_name }}">
            <div class="plus_button"><span class="glyphicon glyphicon-plus"></span></div>
        </a>
        {% block items %}
        {% endblock %}
    </div>
    <div class="element_content">
        {% block more_info %}
        {% endblock %}
    </div>

{% endblock %}
{% block javascripts %}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="signature_pad.js"></script>
    <script src="{{ asset('signature_pad.js') }}"></script>
    <script>

        $('#click-me-btn').click(function () {

            //alert($('input[name="daterange"]').val());
            document.getElementById('file_downloader').src = 'http://localhost:8000/createpdf/Wareneingang?date=' + $('input[name="daterange"]').val() + '';
        });


        {% if pdf != 1 %}
        var formTemplate = $('#form-template > form').clone()[0];
        $('#form-template').remove();
        {% endif %}

        var swalConfig = {
            title: 'Zeitraum Angeben!',
            content: formTemplate,
            button: {
                text: 'Submit',
                closeModal: false
            }
        };

        /*const {value: daterange} = await Swal.fire({
          title: 'Zeitraum Angeben!',
          type: 'question',
          html:
            'Bitte wählen Sie den Zeitraum, <br />über den gedruckt werden soll:<br /><br />' +
            ' <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" id="daterange"/>',
          showCloseButton: true,
          showCancelButton: false,
          focusConfirm: false,
          confirmButtonText:
            'Drucken',
        });*/


    </script>
{% endblock %}

{% block additional_javascripts %}
{% endblock %}

{% block delete_alert %}
{% endblock %}
</body>
</html>
