{% extends 'base.html.twig' %}
{% block items %}
{% for key,item in names %}
<a href="/panel/{{intern_name}}?get={{id[key]}}"><div class="item {% if get_var == id[key] %}selected{% endif %}">
    <span>{{item}}</span>
</div></a>
{% endfor %}
{% endblock %}

{% block more_info %}
{% for item in elements %}
    <ul>
    {% set next_img = 0 %}
    {% for key,single in item %}
        {% if single is same as ("_img")%}
            {% set next_img = 1 %}
        {% else %}
            <li>{{headings[key]}} -> {% if next_img == 1 %}<img src="{{single}}" style="width: 100%">{% else %}{{single}}{% endif %}</li>
            {% set next_img = 0%}
        {% endif %}

    {% endfor %}
    </ul>
{% endfor %}
<a href="/admin/edit/{{intern_name}}?id={{single_id}}"><div class="edit_button"><span class="glyphicon glyphicon-edit"></span></div></a>
{% endblock %}