{% extends 'base.html.twig' %}
 {% block more_info %}
 <style>
.element{
    width: 13vw;
    height: 13vw;
    border: 1px solid black;
    border-radius:50%;
    text-align: center;
    display: block;
  
}
a .element{
    color: #333;
    
}
.menu_col{
    left: -7vw ;
}
.element .fas{
    font-size: 5vw;
    display: table-cell;
left: 4vw;
position: relative;
top: 4vw;
}
.element span{
   position: relative;
   top: 8vw;

}
td{
   padding: 3vw;
}
table{
   position: absolute;
top: 8vw;
left: -13vw;
}

 </style>
 <table>
 <tr>
     {% if user_role >= 1 %}
 <td><a href="/panel/Lieferant"><div class="element" id="lieferanten">
    <i class="fas fa-industry"></i> 
    <span>Lieferanten</span>
</div></a></td>
 <td><a href="/panel/Zutat"><div class="element" id="Zutaten">
    <i class="fas fa-flask"></i> 
    <span>Zutaten</span>
</div></a></td>
     {% endif %}
 <td><a href="/panel/Wareneingang"><div class="element" id="Wareneingänge">
    <i class="fas fa-dolly"></i> 
    <span>Wareneingänge</span>
</div></a></td> </tr>
     {% if user_role >= 10 %}
 <tr> <td><a href="/panel/Einheit"><div class="element" id="Einheiten">
    <i class="fas fa-ruler"></i> 
    <span>Einheiten</span>
</div></a></td>
 <td><a href="/panel/Warengruppe"><div class="element" id="Warengruppen">
    <i class="fas fa-sitemap"></i> 
    <span>Warengruppen</span>
</div></a></td>
<td><a href="/panel/User"> <div class="element" id="Benutzer">
    <i class="fas fa-user"></i> 
    <span>Benutzer</span>
</div></a></td>
   {% endif %}
                {% endblock %}

                {% block additional_javascripts %}
                <script>
                setTimeout(function(){
 $(".menu_col").css("left","0px");
                }, 1000)
               
                
                </script>

      {% endblock %}