<html>
<head>
<script >
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
<style>
body{
    background: #f1f1f1;
color: #444;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.topbarback{
height: 30px;
background-color: #23282d;
top: 0px;
position: absolute;
width: 100vw;

}
.topbar li{
    position: fixed;
color: white;
right: 5px;
list-style: none;
}
.sidebarback{
    width: 160px;
background-color: #23282d;

position: fixed;
top: 0;
bottom: -120px;
z-index: 1;
left: 0;
}
.sidebar{
    
    position: fixed;
    position: relative;
float: left;
z-index: 9990;
width: 160px;

}
.sidebar ul{
    top: 50px;
position: absolute;
    clear: left;
margin: 12px 0;
padding: 0;
list-style: none;
width: 160px;

}
.sidebar ul li{
    border: none;
min-height: 34px;
position: relative;
margin: 0;
padding: 0;
cursor: pointer;
}
.sidebar ul li a{
    color: #eee;
    font-size: 14px;
font-weight: 400;
line-height: 18px;
padding: 0;
text-decoration: none;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.body_content{
    top: 30px;
    padding-bottom: 65px;
float: left;
width: 88%;
overflow: visible!important;
height: 100%;
padding-left: 20px;
margin-left: 160px;
position: absolute;
}
.body_content .table{
    margin: 50px 20px 0 2px;
}
.table h1{
    display: inline-block;
margin-right: 5px;
}
h1{
    font-size: 50px;
}
table{

    table-layout: fixed;
    background: #fff;
    border: 1px solid #e5e5e5;
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-spacing: 0;
width: 100%;
clear: both;
margin: 0;
display: table;
border-collapse: separate;
}
thead{
    word-wrap: break-word;
}
th{
    padding: 0;
    color: #32373c;
    cursor: pointer;
}
tbody tr{
    background-color: #f9f9f9;
}
tbody tr td{
    color: #555;
    font-size: 13px;
line-height: 1.5em;
vertical-align: top;
padding: 8px 10px;
word-wrap: break-word;
}
.add_button{
  height: 50px;
margin-left: 0;
padding: 20px 20px;
position: relative;
top: -10px;
text-decoration: none;
border: 1px solid #ccc;
border-radius: 2px;
background: #f7f7f7;
text-shadow: none;
font-weight: 600;
font-size: 13px;
line-height: normal;
color: #0073aa;
cursor: pointer;
outline: 0;
}
.add_button:hover{
    color: #f7f7f7;
    background: #0073aa;
}
.untermenu{
    margin-left: 40px;
}
.sig_img{
    width: 100%;
}
</style>
</head>

<body>
<div class="topbarback"></div>
<div class="topbar"><li style="position: fixed; color: white;top: 5px;">Hallo {{ user }} <i><a href="/logout" style="color: white;">Logout</a></i></li></div>
<div class="sidebarback"></div>
<div class="sidebar">

    <ul>

        {% if user_role >= 1 %}
        <li><a href="/panel/Lieferant" >Lieferanten</a></li>
        <li><a href="/panel/Zutat">Zutaten</a></li>
        {% endif %}
        <li><a href="/panel/Wareneingang">Wareneingang</a></li>
         <!--<li><a href="/panel/Rezeptur">Rezepturen</a></li>
         <li><a href="/panel/Produkt">Produkt</a></li>
         <li><a href="/panel/Ansatz">Ansatz</a></li>
         <li><a href="/panel/Abfullung">Abfüllung</a></li>-->
        {% if user_role >= 10 %}
         <li>Einstellungen</li>
         <div class="untermenu"><li><a href="/panel/Warengruppe">Warengruppen</a></li>
         <li><a href="/panel/Einheit">Einheiten</a></li>
         <li><a href="/panel/User">Benutzer</a></li>
         <li><a href="/panel/System">System</a></li></div>
         {% endif %}
         
    </ul>
    
</div>

<div class="body_content">
    <div class="table">
        <h1>{{ name }}</h1>

        <a href="/admin/add/{{ intern_name }}" class="add_button">Hinzufügen</a>
        <a href="/panel/{{ intern_name }}?archiv={% if (state|length == 0) or (state[0] == 3) %}false{% else %}true{% endif %}" class="add_button">Archiviert anzeigen</a>
        {% if pdf == 1 %}<a href="/createpdf/{{ intern_name }}" class="add_button">PDF Erzeugen</a>{% endif %}
        <table id="table1">
            <thead><tr>
                {% for heading in headings %}
                    <th onclick='sortTable({{ loop.index0 }})'>{{heading}}</th>
                {% endfor %}
                <th>Edit/Delete</th>
            </tr></thead>
            <tbody>
             {% set next_img = 0 %}
                {% for element in elements %}
                    <tr id="elementID{{ id[ loop.index0 ] }}" {% if state[loop.index0] == 1 %} style="background-color: yellow;" {% endif %}>
                    {% for items in element %}

                        {% if items is same as ("_img") %}
                           {% set next_img = 1 %}
  
                        {% else %}
                        <td>{% if next_img == 1 %} {% set next_img = 0 %}<img src="{{ items }}" class="sig_img">{% else %}{{ items }}{% set next_img = 0 %}{% endif %}</td>
                        {% endif %}
                    {% endfor %}
                    <td> {% if state[loop.index0] != 1 %} {% if state[loop.index0]  != 5 %}<a href="/admin/edit/{{ intern_name }}?id={{ id[ loop.index0 ] }}"><button>edit</button></a><a href="/panel/{{ intern_name }}?id={{ id[ loop.index0 ] }}&archiv=set"><button> {% if state[loop.index0] == 3 %}de{% endif %}archivieren</button></a>{% endif %}{% endif %}</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
<script>

function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("table1");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>
</body>
</html>