<html>
<head>
<script >
   function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};
</script>
<style>
body{
    background: #f1f1f1;
color: #444;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.sidebarback{
    width: 160px;
background-color: #23282d;

position: fixed;
top: 0;
bottom: -120px;
z-index: 1;
left: 0;
}
.sidebar{
    
    position: fixed;
    position: relative;
float: left;
z-index: 9990;
width: 160px;

}
.sidebar ul{
    clear: left;
margin: 12px 0;
padding: 0;
list-style: none;
width: 160px;

}
.sidebar ul li{
    border: none;
min-height: 34px;
position: relative;
margin: 0;
padding: 0;
cursor: pointer;
}
.sidebar ul li a{
    color: #eee;
    font-size: 14px;
font-weight: 400;
line-height: 18px;
padding: 0;
text-decoration: none;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.body_content{
    padding-bottom: 65px;
float: left;
width: 88%;
overflow: visible!important;
height: 100%;
padding-left: 20px;
margin-left: 160px;
position: absolute;
}
.body_content .table{
    margin: 10px 20px 0 2px;
}
.table h1{
    display: inline-block;
margin-right: 5px;
}

table{

    table-layout: fixed;
    background: #fff;
    border: 1px solid #e5e5e5;
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-spacing: 0;
width: 100%;
clear: both;
margin: 0;
display: table;
border-collapse: separate;
}
thead{
    word-wrap: break-word;
}
th{
    padding: 0;
    color: #32373c;
    cursor: pointer;
}
tbody tr{
    background-color: #f9f9f9;
}
tbody tr td{
    color: #555;
    font-size: 13px;
line-height: 1.5em;
vertical-align: top;
padding: 8px 10px;
word-wrap: break-word;
}
.add_button{
    margin-left: 0;
    padding: 4px 8px;
position: relative;
top: -3px;
text-decoration: none;

border: 1px solid #ccc;
border-radius: 2px;
background: #f7f7f7;
text-shadow: none;
font-weight: 600;
font-size: 13px;
line-height: normal;
color: #0073aa;
cursor: pointer;
outline: 0;
}
.add_button:hover{
    color: #f7f7f7;
    background: #0073aa;
}
.untermenu{
    margin-left: 40;
}
</style>
</head>

<body>
<div class="sidebarback"></div>
<div class="sidebar">

    <ul>
        <li><a href="/panel/Lieferant" >Lieferanten</a></li>
        <li><a href="/panel/Zutat">Zutaten</a></li>
        <li><a href="/panel/Wareneingang">Wareneingang</a></li>
         <!--<li><a href="/panel/Rezeptur">Rezepturen</a></li>
         <li><a href="/panel/Produkt">Produkt</a></li>
         <li><a href="/panel/Ansatz">Ansatz</a></li>
         <li><a href="/panel/Abfullung">Abfüllung</a></li>-->
         {% if user_role == 1  %}
         <li>Einstellungen</li>
         <div class="untermenu"><li><a href="/panel/Warengruppe">Warengruppen</a></li>
         <li><a href="/panel/Einheit">Einheiten</a></li>
         <li><a href="/panel/User">Benutzer</a></li>
         <li><a href="/panel/System">System</a></li></div>
         {% endif %}
         <li style="bottom: 5vh;position: fixed; color: white;">Hallo {{ user }}<br /><a href="/logout">Logout</a></li>
    </ul>
    
</div>

<div class="body_content">
    <div class="table">
        <h1>{{ name }}</h1>
        <ul>
            <li><b>System online seid:</b> 0:00</li>
            <li><b>Registrierte Benutzer:</b> 0</li>
            <li><b>Letzte Sicherung:</b> 0:00</li>
        </ul>
    </div>
</div>

</body>
</html>