{% extends 'base.html.twig' %}


{% block items %}
    {% for lieferant in lieferanten %}
{#        <a href="{{ url('LieferantList', {get: lieferant.id }) }}">#}
        <div onclick="locationTo('{{ url('LieferantList', {get:lieferant.id}) }}')">
            <div class="item {% if get_var == lieferant.id %}selected{% endif %}">
                <span>{{ lieferant.Firmenname }}</span>
                {% if false and lieferant|length == 1 and (currentLieferant.Zutats|length >0 or currentLieferant.Wareneingangs|length >0 ) %}
                    <span>Kann nicht gelöscht werden. Nichts zu ersetzen.</span>
                {% else %}
                    {% if user_role >= 10 %}
                        <button  class="deleteButton" onclick="deleteAction({{ lieferant.id }})">Delete</button>
                        <form id="lieferant_{{ lieferant.id }}_delete_form" action="{{ url('LieferantDelete', {id:lieferant.id}) }}"
                              method="post">
                            <input type="hidden" name="newElement" id="newElement{{ lieferant.id }}"/>
                        </form>
                    {% endif %}
                {% endif %}
                <form id="lieferant_{{ lieferant.id }}_archive_form" action="{{ url('LieferantAchive', {id:lieferant.id}) }}"
                      method="post">
                    <button type="submit">Archive</button>
                </form>
                <div id="editContainer_{{ lieferant.id }}" style="color: red"></div>
            </div>
        </div>
{#        </a>#}
    {% endfor %}
{% endblock %}

{% block delete_alert %}

    <script>
        function locationTo(url){
            window.location = url
        }
        async function deleteAction (id) {

            let lieferanten = {
                {% for lieferant in lieferanten %}
                    {{ lieferant.id }} : '{{ lieferant.Firmenname }}',
                {% endfor %}
            }

            delete lieferanten[id];

            if({{lieferanten|length}} === 1){
                $(`#lieferant_${id}_delete_form`).submit();
                return;
            }
            const deleteObject = await Swal.fire({
                title             : 'Zeitraum Angeben!',
                type              : 'error',
                input             : 'select',
                inputOptions      : lieferanten,
                showCloseButton   : true,
                showCancelButton  : true,
                focusConfirm      : false,
                confirmButtonText : 'Löschen',
                cancelButtonText  : "Abbrechen",

            });

            if (deleteObject.value) {
                $(`#newElement${id}`).val(deleteObject.value);
                $(`#lieferant_${id}_delete_form`).submit();
            }
        }


    </script>
{% endblock %}

{% block more_info %}
    <script>
        function checkEditAccess () {
            let entityIds = [
                {% for eintity in lieferanten %} {{ eintity.id }}, {% endfor %}
            ]
            console.log(entityIds);

            $.ajax({
                        url     : "{{ url('LieferantEditCheck') }}",
                        data    : {ids : JSON.stringify(entityIds)},
                        success : (response) => {
                            for (let id in response) {
                                if( response[id]){
                                    $(`#editContainer_${id}`).html("");
                                    {% if(currentLieferant) %}
                                    if(id == {{ currentLieferant.id }}){
                                        $("#editLink").show();
                                    }
                                    {% endif %}
                                }else{
                                    {% if(currentLieferant) %}
                                    if(id ==  {{ currentLieferant.id }}){
                                        $("#editLink").hide();
                                    }
                                    {% endif %}
                                    $(`#editContainer_${id}`).html("Bearbeitbar");
                                }
                            }

                        }
                    }
            );
        }

       document.addEventListener("DOMContentLoaded", function() {
            checkEditAccess();
            setInterval(()=>{
                checkEditAccess();
            }, 30000);
               $('.deleteButton').click((event)=>{
                   event.stopPropagation();
               })
        });
    </script>
    {% if(currentLieferant) %}
    {% for title,value in currentLieferant.FieldListWithTitles %}
        <ul>
            <li>
                {{ title }} -> {{ value }}
            </li>
        </ul>
    {% endfor %}
    {% if ((currentLieferant.FieldListWithTitles['Angelegt von'] == user) or (user_role >= 10)) %}
    <a id="editLink" href="/admin/edit/Lieferant?id={{ currentLieferant.id }}">
        <div class="edit_button"><span class="glyphicon glyphicon-edit"></span></div>
    </a>
        {% endif %}
    {% endif %}
{% endblock %}