{% extends 'base.html.twig' %}


{% block items %}



	{% for zutat in zutaten %}
		<!-- <a href="{{ url('ZutatList', {get: zutat.id }) }}">-->
		<div class="item {% if get_var == zutat.id %}selected{% endif %}">
			<span>{{ zutat.name }}</span>

			{% if zutaten|length == 1 and (currentZutat.Gruppe|length >0 or currentZutat.Lieferant|length >0 ) %}
				<span>Kann nicht gelöscht werden. Nichts zu ersetzen.</span>
			{% else %}
				{% if user_role >= 10 %}
					<button  class="deleteButton" onclick="deleteAction({{ zutat.id }})">Delete</button>
					<form id="zutat_{{ zutat.id }}_delete_form" action="{{ url('ZutatDelete', {id:zutat.id}) }}"
					      method="post">
						<input type="hidden" name="newElement" id="newElement{{ zutat.id }}"/>
					</form>
				{% endif %}
			{% endif %}

            {% if user_role >= 10 %}
			<form id="zutat_{{ zutat.id }}_archive_form" action="{{ url('ZutatAchive', {id:zutat.id}) }}"
			      method="post">
				<button type="submit">Archive</button>
			</form>
            {% endif %}
			<div id="editContainer_{{ zutat.id }}" style="color: red"></div>
		</div>
		<!--</a>-->
	{% endfor %}

{% endblock %}


{% block delete_alert %}
	<script>
        function locationTo(url){
            window.location = url
        }
		async function deleteAction (id) {

            let zutaten = {
                {% for zutat in zutaten %}
                    {{ zutat.id }} : '{{ zutat.name }}',
                {% endfor %}
            }
            delete zutaten[id];

            if({{zutaten|length}} === 1){
                $(`#zutat_${id}_delete_form`).submit();
                return;
            }
            const deleteObject = await Swal.fire({
                title             : 'Zeitraum Angeben!',
                type              : 'error',
                input             : 'select',
                inputOptions      : zutaten,
                showCloseButton   : true,
                showCancelButton  : true,
                focusConfirm      : false,
                confirmButtonText : 'Löschen',
                cancelButtonText  : "Abbrechen",

            });

            if (deleteObject.value) {
                $(`#newElement${id}`).val(deleteObject.value);
                $(`#zutat_${id}_delete_form`).submit();
            }
        }


	</script>
{% endblock %}


{% block more_info %}

	<script>
        function checkEditAccess () {
            let entityIds = [
				{% for eintity in zutaten %} {{ eintity.id }}, {% endfor %}
            ]
            console.log(entityIds);

            $.ajax({
                    url     : "{{ url('ZutatEditCheck') }}",
                    data    : {ids : JSON.stringify(entityIds)},
                    success : (response) => {
                        for (let id in response) {
                            if( response[id]){
                                $(`#editContainer_${id}`).html("");
	                            {% if(currentZutat) %}
                                if(id == {{ currentZutat.id }}){
                                    $("#editLink").show();
                                }
	                            {% endif %}
                            }else{
	                            {% if(currentZutat) %}
                                if(id ==  {{ currentZutat.id }}){
                                    $("#editLink").hide();
                                }
	                            {% endif %}
                                $(`#editContainer_${id}`).html("Bearbeitbar");
                            }
                        }

                    }
                }
            );
        }

       document.addEventListener("DOMContentLoaded", function() {
            checkEditAccess();
            setInterval(()=>{
                checkEditAccess();
            }, 30000);
            $('.deleteButton').click((event)=>{
               event.stopPropagation();
            })
        });
	</script>
    {% if(currentZutat) %}
        {% for title,value in currentZutat.FieldListWithTitles %}
            <ul>
                <li>
                    {{ title }} -> {{ value }}
                </li>
            </ul>
        {% endfor %}
        {% if ((currentZutat.FieldListWithTitles['UserAdded'] == user) or (user_role >= 10)) %}
        <a id="editLink" href="/admin/edit/Zutat?id={{ currentZutat.id }}">
            <div class="edit_button"><span class="glyphicon glyphicon-edit"></span></div>
        </a>
        {% endif %}
    {% endif %}
{% endblock %}