{% extends 'base.html.twig' %}


{% block items %}
    {% for warengrupp in warengruppe %}
         <div onclick="locationTo('{{ url('WarengruppeList', {get:warengrupp.id}) }}')">
            <a href="{{ url('WarengruppeList', {get: warengrupp.id }) }}">
                <div class="item {% if get_var == warengrupp.id %}selected{% endif %}">
                    <span>{{ warengrupp.name }}</span>
                    {% if user_role >= 10 %}
                    <form id="warengrupp_{{ warengrupp.id }}_delete_form" action="{{ url('WarengruppeDelete', {id:warengrupp.id}) }}"
                          method="post">
                        <button type="submit">Delete</button>
                    </form>
                    {% endif %}
                    {% if user_role >= 10 %}
                    <form id="warengrupp_{{ warengrupp.id }}_archive_form" action="{{ url('WarengruppeAchive', {id:warengrupp.id}) }}"
                          method="post">
                        <button type="submit">Archive</button>
                    </form>
                    {% endif %}
                    <div id="editContainer_{{ warengrupp.id }}" style="color: red"></div>
                </div>
            </a>
         </div>
    {% endfor %}
{% endblock %}

{% block more_info %}

    <script>
        function locationTo(url){
            window.location = url
        }
        function checkEditAccess () {
            let entityIds = [
                {% for eintity in warengruppe %} {{ eintity.id }}, {% endfor %}
            ]
            console.log(entityIds);

            $.ajax({
                        url     : "{{ url('WarengruppeEditCheck') }}",
                        data    : {ids : JSON.stringify(entityIds)},
                        success : (response) => {
                            for (let id in response) {
                                if( response[id]){
                                    $(`#editContainer_${id}`).html("");
                                    {% if(currentWarengruppe) %}
                                    if(id == {{ currentWarengruppe.id }}){
                                        $("#editLink").show();
                                    }
                                    {% endif %}
                                }else{
                                    {% if(currentWarengruppe) %}
                                    if(id ==  {{ currentWarengruppe.id }}){
                                        $("#editLink").hide();
                                    }
                                    {% endif %}
                                    $(`#editContainer_${id}`).html("Bearbeitbar");
                                }
                            }

                        }
                    }
            );
        }

       document.addEventListener("DOMContentLoaded", function() {
            checkEditAccess();
            setInterval(()=>{
                checkEditAccess();
            }, 30000);
           $('.deleteButton').click((event)=>{
               event.stopPropagation();
           })
        });
    </script>
    {% if(currentWarengruppe) %}
    {% for title,value in currentWarengruppe.FieldListWithTitles %}
        <ul>
            <li>
                {{ title }} -> {{ value }}
            </li>
        </ul>
    {% endfor %}
    {% if ((currentWarengruppe.FieldListWithTitles['Angelegt von'] == user) or (user_role >= 10)) %}
    <a id="editLink" href="/admin/edit/Warengruppe?id={{ currentWarengruppe.id }}">
        <div class="edit_button"><span class="glyphicon glyphicon-edit"></span></div>
    </a>
        {% endif %}
    {% endif %}
{% endblock %}