{% extends 'base.html.twig' %}

{% block more_info %}
    <style>
        .inner_content{
            display: flex;
            justify-content: center;
            padding-top: 20px;
        }
        #zutat_form_container{
            width: 90%;

        }
        .select2-container{
            top: -0.6vh;
            width: 40vw !important;
        }
    </style>
    <div class="inner_content">
        <div id="zutat_form_container">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block additional_javascripts %}

    <script>
        $(document).ready(function() {

            $('.select2').select2({
            });

            $('.allowEmptySelect2').select2({
                allowClear: true,
            });
        });

    </script>
{% endblock %}