{% extends 'base.html.twig' %}


{% block items %}
	{% for einheit in einheiten %}
		<div onclick="locationTo('{{ url('EinheitList', {get:einheit.id}) }}')">
			<div class="item {% if get_var == einheit.id %}selected{% endif %}">
				<span>{{ einheit.name }}</span>
				{% if einheiten|length == 1 and (zutats[currentEinheit.Id] is defined and zutats[currentEinheit.Id]|length >0 ) %}
					<span>Kann nicht gelöscht werden. Nichts zu ersetzen.</span>
				{% else %}
                    {% if user_role >= 10 %}
						<button class="deleteButton" onclick="deleteAction({{ einheit.id }})">Delete</button>
						<form id="einheit_{{ einheit.id }}_delete_form" action="{{ url('EinheitDelete', {id:einheit.id}) }}"
						      method="post">
							<input type="hidden" name="newElement" id="newElement{{ einheit.id }}"/>
						</form>
					{% endif %}
				{% endif %}
				<form id="einheit_{{ einheit.id }}_archive_form" action="{{ url('EinheitAchive', {id:einheit.id}) }}"
				      method="post">
					<button type="submit">Archive</button>
				</form>
				<div id="editContainer_{{ einheit.id }}" style="color: red"></div>
			</div>
		</div>

	{% endfor %}
{% endblock %}


{% block delete_alert %}

	<script>
		function locationTo(url){
		    window.location = url
		}
        async function deleteAction (id) {

            let einheiten = {
			{% for einheit in einheiten %}
			{{ einheit.id }} : '{{ einheit.name }}',
			{% endfor %}
        }
            delete einheiten[id];

            if({{einheiten|length}} === 1){
                $(`#einheit_${id}_delete_form`).submit();
                return;
            }
            const deleteObject = await Swal.fire({
                title             : 'Zeitraum Angeben!',
                type              : 'error',
                input             : 'select',
                inputOptions      : einheiten,
                showCloseButton   : true,
                showCancelButton  : true,
                focusConfirm      : false,
                confirmButtonText : 'Löschen',
                cancelButtonText  : "Abbrechen",

            });

            if (deleteObject.value) {
                $(`#newElement${id}`).val(deleteObject.value);
                $(`#einheit_${id}_delete_form`).submit();
            }
        }

	</script>
{% endblock %}


{% block more_info %}

	<script>
        function checkEditAccess () {
            let entityIds = [
				{% for entity in einheiten %} {{ entity.id }}, {% endfor %}
            ]
            console.log(entityIds);

            $.ajax({
                    url     : "{{ url('EinheitEditCheck') }}",
                    data    : {ids : JSON.stringify(entityIds)},
                    success : (response) => {
                        for (let id in response) {
                            if( response[id]){
                                $(`#editContainer_${id}`).html("");
	                            {% if(currentEinheit) %}
                                if(id == {{ currentEinheit.id }}){
                                    $("#editLink").show();
                                }
	                            {% endif %}
                            }else{
	                            {% if(currentEinheit) %}
                                if(id ==  {{ currentEinheit.id }}){
                                    $("#editLink").hide();
                                }
	                            {% endif %}
                                $(`#editContainer_${id}`).html("Bearbeitbar");
                            }
                        }

                    }
                }
            );
        }

       document.addEventListener("DOMContentLoaded", function() {

            checkEditAccess();
            setInterval(()=>{
                checkEditAccess();
            }, 30000);

            $('.deleteButton').click((event)=>{
                event.stopPropagation();
            })


       });
	</script>

	{% if(currentEinheit) %}
	{% for title,value in currentEinheit.FieldListWithTitles %}
		<ul>
			<li>
				{{ title }} -> {{ value }}
			</li>
		</ul>
	{% endfor %}
    {% if ((user_role >= 10)) %}
	<a id="editLink"  href="/admin/edit/Einheit?id={{ currentEinheit.id }}">
		<div class="edit_button"><span class="glyphicon glyphicon-edit"></span></div>
	</a>
        {% endif %}
	{% endif %}
{% endblock %}