@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Vollkorn&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
}
.headline{
    width: 100vw;
    height: 10vh;
    background-color: rgb(0,153,241);
    text-align: center;
    color: white;
}
.pathline{
    width: 100vw;
    height: 5vh;
    top: 10vh;
    background-color: rgb(46,46,46);
    color: white;
}
.menu_col{
    height: 85vh;
    width: 7vw;
    background-color: rgb(46,46,46);
}
.item_col{
    box-shadow: 3px 0px 0 0 rgba(0,0,0,0.2);
    width: 30vw;
    top: 15vh;
    height: 85vh;
    left: 7vw;
    /*left: -31vw;*/
    transition: left 1s;
    /* background-color: yellow; */
    position: absolute;
    
}
.object_title{
   
}
.user_display{
    position: absolute;
    left: 0;
}
.blue{
    color: rgb(0,153,241);
}
.menu_col{
    color: white;
    font-size: 40px;
    text-align: center;
    position: relative;
    left: 0vw;
    transition: left 1s;
}
.menu_col i{
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    color: white;
}
.menu_col i.selected{
    background-color: rgb(0,153,241);
}
.item_col{

}
.item_col .item{
    border-bottom: 1px solid black;
    height: 10%;
    color: black;
    height: 10%;
    display: table;
    width: 100%;
}
.item_col .item.selected{
    background-color: rgb(0,153,241);
    color: white;
}
.item_col .item span{
    display: table-cell;
vertical-align: middle;
left: 10%;
position: relative;
}
.element_content{
    position: absolute;
    left: 37vw;
    top: 15vh;
    width: 65vw;
}
.plus_button{
    background-color: rgb(0,153,241);
    color: white;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.print{
    right: 0;
position: absolute;
color: white;
}
.edit_button{
    color: rgb(0,153,241);
    font-size: 50px;
    position: absolute;
    right: 40px;
    top: 10px;
}