<!DOCTYPE html>
<html>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}



<style>
body{
    background: #f1f1f1;
color: #444;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.sidebarback{
    width: 160px;
background-color: #23282d;

position: fixed;
top: 0;
bottom: -120px;
z-index: 1;
left: 0;
}
.sidebar{
    
    position: fixed;
    position: relative;
float: left;
z-index: 9990;
width: 160px;

}
.sidebar ul{
    clear: left;
margin: 12px 0;
padding: 0;
list-style: none;
width: 160px;

}
.sidebar ul li{
    border: none;
min-height: 34px;
position: relative;
margin: 0;
padding: 0;
cursor: pointer;
}
.sidebar ul li a{
    color: #eee;
    font-size: 14px;
font-weight: 400;
line-height: 18px;
padding: 0;
text-decoration: none;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.body_content{
    padding-bottom: 65px;
float: left;
width: 88%;
overflow: visible!important;
height: 100%;
padding-left: 20px;
margin-left: 160px;
position: absolute;
}
.body_content .table{
    margin: 10px 20px 0 2px;
}
.table h1{
    display: inline-block;
margin-right: 5px;
}

table{

    table-layout: fixed;
    background: #fff;
    border: 1px solid #e5e5e5;
box-shadow: 0 1px 1px rgba(0,0,0,.04);
border-spacing: 0;
width: 100%;
clear: both;
margin: 0;
display: table;
border-collapse: separate;
}
thead{
    word-wrap: break-word;
}
th{
    padding: 0;
    color: #32373c;
    cursor: pointer;
}
tbody tr{
    background-color: #f9f9f9;
}
tbody tr td{
    color: #555;
    font-size: 13px;
line-height: 1.5em;
vertical-align: top;
padding: 8px 10px;
word-wrap: break-word;
}
.add_button, button{
    margin-left: 0;
    padding: 4px 8px;
position: relative;
top: -3px;
text-decoration: none;

border: 1px solid #ccc;
border-radius: 2px;
background: #f7f7f7;
text-shadow: none;
font-weight: 600;
font-size: 13px;
line-height: normal;
color: #0073aa;
cursor: pointer;
outline: 0;
}
.add_button:hover{
    color: #f7f7f7;
    background: #0073aa;
}
form{
    left: 10vw;
position: relative;

}
</style>
    </head>
    <body>
       
        <div class="sidebarback"></div>
<div class="sidebar">
    <ul>
        <li><a href="/panel/Lieferant">Lieferanten</a></li>
        <li><a href="/panel/Zutat">Zutaten</a></li>
        <li><a href="/panel/Rezeptur">Rezepturen</a></li>
        <li><a href="/panel/Warengruppe">Warengruppen -settings</a></li>
        <li><a href="/panel/Wareneingang">Wareneingang</a></li>
         <li><a href="/panel/Produkt">Produkt</a></li>
         <li><a href="/panel/Ansatz">Ansatz</a></li>
         <li><a href="/panel/Abfullung">Abfüllung</a></li>
    </ul>
</div>

        <h1>{{ item }} Löschen </h1><br />
        {% if delete == 0 %}
            <h1>{{ item }} wurde gelöscht </h1><br />
        {% else %}
             <h1>{{ losch }}</h1>
            <h1>{{ item }} ist noch mit anderen Eigenschaften verknüpft</h1><br />
            <select id="selection_alt">
                {% for key, obj in alternative %}
                    <option value="{{ key }}">{{obj}}</option>
                {% endfor %}
            </select>
           <a onclick="clickuebertragen()"> <button>Übertragen</button></a>
        {% endif %}
    <script>
        function clickuebertragen(){
            window.location = "/admin/delete/{{ item }}?id={{ id }}&uebertragen_id=" + $("#selection_alt").val();
            
        }
    </script>
    </body>
</html>
