{% extends 'base.html.twig' %}

{% block title %}Anmelden{% endblock %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
table{
    margin-left: auto;
margin-right: auto;
top: 100px;
position: relative;
}
td{
border: 1px solid #ccc;
width: 100px;
height: 100px;
text-align: center;

background: #f7f7f7;
color: #0073aa;
}
.noborder{
    border: 0px solid black;
    background: unset;
}
body{
    background: #f1f1f1;
}
.textfield{
    width: 200px;
height: 50px;
background-color: white;
position: relative;
margin-left: auto;
margin-right: auto;
top: 50px;
text-align: center;
font-size: 55px;
}
.btn-lg{
    width: 300px;
height: 100px;
background: #f7f7f7;
color: #0073aa;
border: 1px solid #ccc;
top: 105px;
position: relative;
margin-left: auto;
margin-right: auto;
display: block;

}
</style>
<form method="post">
    {% if error %}
       
        <style>
            .textfield{
                border: 1px solid red;
            }
        </style>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Bitte Anmeldenn</h1>
<label for="inputusername" class="sr-only">Bitte gib deinen persönlichen Passcode ein.</label>
    <input type="hidden" name="username" id="username" class="form-control" placeholder="username" required autofocus>
    
    <input type="hidden" name="password" id="inputPassword" class="form-control" placeholder="Password" value="thesecurityisonlybullshit" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <input type="hidden" name="_target_path" value="/panel/Lieferant" />
    
    <div>
    <div class="textfield"></div>
    <table>
    <tr><td onclick="addNumber(1)">1</td><td onclick="addNumber(2)">2</td><td onclick="addNumber(3)">3</td></tr>
    <tr><td onclick="addNumber(4)">4</td><td onclick="addNumber(5)">5</td><td onclick="addNumber(6)">6</td></tr>
    <tr><td onclick="addNumber(7)">7</td><td onclick="addNumber(8)">8</td><td onclick="addNumber(9)">9</td></tr>
    <tr><td class="noborder"></td><td onclick="addNumber(0)">0</td><td onclick="removeLast()"> <- </td></tr>

    </table>
    </div>
    <script>
    function addNumber(num){
         $(".textfield").css("border", "unset");
        $("#username").val($("#username").val() + num);
        var pass = $("#username").val();
        pass = pass.replace("0", "*");
        pass = pass.replace("1", "*");
        pass = pass.replace("2", "*");
        pass = pass.replace("3", "*");
        pass = pass.replace("4", "*");
        pass = pass.replace("5", "*");
        pass = pass.replace("6", "*");
        pass = pass.replace("7", "*");
        pass = pass.replace("8", "*");
        pass = pass.replace("9", "*");
        $(".textfield").text(pass);
        
    }
    function removeLast(){
         $(".textfield").css("border", "unset");
        $("#username").val($("#username").val().slice(0, -1));
         var pass = $("#username").val();
        pass = pass.replace("0", "*");
        pass = pass.replace("1", "*");
        pass = pass.replace("2", "*");
        pass = pass.replace("3", "*");
        pass = pass.replace("4", "*");
        pass = pass.replace("5", "*");
        pass = pass.replace("6", "*");
        pass = pass.replace("7", "*");
        pass = pass.replace("8", "*");
        pass = pass.replace("9", "*");
        $(".textfield").text(pass);
    }
    </script>
    <button class="btn btn-lg btn-primary" type="submit">
        Einloggenn
    </button>
</form>
{% endblock %}
