<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	.
	<style>
		body{
			font-size: 30px;
		}
		table {
			border: 1px solid;
		}

		tr {
			height: 150px;
		}

		td {
			height: 150px;
		}

		th {
			background-color: rgb(165, 165, 165);
		}

		table {
			border-collapse: collapse;
		}

		table, th, td {
			border: 1px solid black;
		}

		.row {
			border: 1px solid black;
			height: 180px;
			position: relative;
			display: inline-block;
			margin-bottom: 20px;
		}

		.logo_container {
			width: 440px;
			background: url("/logo.jpg") no-repeat center center;

			background-size: 300px 400px;
		}

		.headline {
			width: 1240px;
			text-align: center;
		}

		.pageInfo {
			width: 440px;
			padding-left: 6px;

		}

		.pageInfo > p {
			margin-top: 60px;
			margin-left: 20px;
		}

		.pageBreaker {
			page-break-after: always;
		}

		.quad {
			width: 30px;
			height: 30px;
			border: 2px solid black;
		}

		.quad > div {
			padding-left: 50px;
		}

		.select {
			height: 100px;
		}

		.selecter > div > span {
			border: 1px solid black;
			width: 20px;
			height: 20px;
			margin-left: 5px;
		}
		.checkbox{
			font-size: 40px;
		}
		.prufer_container{
			width: 100%;
			height: 100%;
			background-size: 300px 400px;
		}
		.prufer_img{
			width: 200px;
		}
	</style>
	<title>
		Lieferschein
	</title>
</head>
<body>
{% for pageData in wareneingangePages %}
	<div class="logo_container row">
	</div>
	<div class="headline row">
		<h2>Wareneingangskontrolle</h2>
	</div>
	<div class="pageInfo row">
		<p><strong>Seite {{ loop.index }}</strong> von {{ pagesCount }}</p>
	</div>
	<table>
		<tr>
			<th>Datum:</th>
			<th>Lieferant:</th>
			<th>Material/<br/>Rohstoff:</th>
			<th>Lieferschein-<br/>Nummer:</th>
			<th>Chargennummer:</th>
			<th>Optische Sauberkeit der Anlieferungs- einheit, frei von Schädlingen, Schimmel</th>
			<th>Identitätsprüfung Angabe auf dem Lieferschein entsprechen den Angaben auf dem Rohstoff Material</th>
			<th>Maßnahme bei Abweichungen</th>
			<th>Prüfer (Unterschrift):</th>
		</tr>
		{% for wareneingang in pageData %}
			<tr>
				<td>
					{{ wareneingang.DateAdded|date("m.d.Y") }}
					{{ wareneingang.DateAdded|date("H:i") }}
				</td>
				<td>{{ wareneingang.Lieferant.Firmenname }}</td>
				<td>{{ wareneingang.Zutat.Name }}</td>
				<td>{{ wareneingang.Lieferschein }}</td>
				<td>{{ wareneingang.Charge }}</td>
				<td>
					<div class="selecter">
						<input class="checkbox" type="checkbox" {% if wareneingang.qualitaetscheck == true %} checked {% endif %}>
						<span>Ja</span>
						<br>
						<input class="checkbox" type="checkbox" {% if wareneingang.qualitaetscheck != true %} checked {% endif %}>
						<span>Nein</span>
					</div>
				</td>
				<td>
					<div class="selecter">
						<input class="checkbox" type="checkbox" {% if wareneingang.identitatsprufung == true %} checked {% endif %}>
						<span>Ja</span>
						<br>
						<input class="checkbox" type="checkbox" {% if wareneingang.identitatsprufung != true %} checked {% endif %}>
						<span>Nein</span>
					</div>
				</td>
				<td>
					<div class="selecter">
						<div><span>&nbsp;&nbsp;&nbsp;&nbsp;</span> Sperrung</div>
						<div><span>&nbsp;&nbsp;&nbsp;&nbsp;</span> Ablehnung</div>
						<div><span>&nbsp;&nbsp;&nbsp;&nbsp;</span> Sonderfreigabe<br>durch:</div>
						<div><span>&nbsp;&nbsp;&nbsp;&nbsp;</span> Meldung an ...</div>
					</div>
				</td>
				<td>
					<img src="{{  wareneingang.UserAdded.Signature }}" alt="" class="prufer_img">
				</td>
			</tr>
		{% endfor %}
	</table>
	<div class="pageBreaker"></div>
{% endfor %}
</body>
</html>




